.card {
    margin-top: -130px;
    margin-left: -72px;
    margin-right: 12px;
    height: 740px;
}

.title {
    margin-top: 10px;
    margin-bottom: 18px;
}

.first-row {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.action-icons {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
    .delete-icon {
        color: red;
    }
}

.responsible-input {
    min-width: 40%;
    width: 100%;
}

.amount-field {
    margin-left: -39px
}
.enabled-field {
    margin-left: 80px;
}

.date-field {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    .date-label {
        margin-left: -17px;
    }
    .time-label {
        margin-right: 40px;
    }
}

.second-row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.indications-field {
    margin-top: -20px;
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}

.p-toggle {
    margin-left: 10px;
    margin-top: 10px;
}

.toggle {
    margin-top: -20px;
    margin-left: 420px;
}

.textarea-field {
    width: 100%;
    
}

.buttons {
    margin-top: 20px;
    .icon-btn {
        margin-top: 2px;
    }
    .update-button {
        background-color: #0d4380c1;
        color: white;
    }
    .clean-button {
        margin-right: 40px;
        margin-left: 40px;
        background-color: #c17f227d;
        color: white;
    }
    .back-button {
        color: white;
        background-color: rgba(170, 31, 31, 0.835);
    }
}



