<mat-card class="card">
    <h2 class="text-center title mt10 mb4">EDITAR PROCESO DE CORTE N° {{ cutting.cuttingId }}</h2>
    <mat-divider class="divider"></mat-divider>
    <div class="row first-row">
        <div class="col md-8 offset-md-2">
            <form (ngSubmit) = "updateCutting()">

                <mat-form-field appearance="fill" class="responsible-input">
                    <mat-label></mat-label>
                    <mat-select name="responsible" *ngIf="cutting.responsible" [(ngModel)]= "cutting.responsible.responsibleId">
                        <mat-option *ngFor= "let r of responsibles" [value]="r.responsibleId">
                            {{ r.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="straw-type-input full-width">
                    <mat-label></mat-label>
                    <mat-select name="strawType" *ngIf="cutting.strawType" [(ngModel)]= "cutting.strawType.strawTypeId">
                        <mat-option *ngFor= "let s of strawTypes" [value]="s.strawTypeId">
                            {{ s.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="date-field">
                    <mat-label class="date-label">Fecha: </mat-label>
                    <input 
                        [(ngModel)]="cutting.date"
                        type="date"
                        name="date">
                        <mat-label class="time-label">Hora: </mat-label>
                        <input 
                            [(ngModel)]="cutting.hour"
                            type="time"
                            name="time">
                </div>
                <div class="row second-row">
                    <div class="col-md-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Peso del canasto</mat-label>
                            <input 
                            [(ngModel)]= "cutting.totalWeight"
                            type="number"
                            name="totalWeight"
                            placeholder="Ingrese peso"
                            matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="container text-center buttons">
                    <button mat-raised-button class="update-button"><mat-icon class="icon-btn">autorenew</mat-icon>Actualizar corte</button>
                    <button type="reset" mat-raised-button class="clean-button"><mat-icon class="icon-btn">brush</mat-icon>Limpiar</button>
                    <button type="reset" mat-raised-button class="back-button" (click)="goBack()"><mat-icon class="icon-btn">undo</mat-icon>Volver</button>
                </div>
            </form>
        </div>
    </div>
</mat-card>