<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<div class="content-dashboard">
    <div class="header">
        <img src="../../../../assets/images/logo-dashboard-user.png" alt="icono">
    </div>
    
    <div class="all-content">
        <div class="row">
            <div class="col">
                <a routerLink="/user-dashboard/reception/" class="task-link">
                    <div class="task task-reception">
                        <div class="details">
                            <div class="circle-icon">
                                <i class="material-icons">assignment_returned</i>
                            </div>
                            <div class="text-details">Recepción de material</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a routerLink="/user-dashboard/knot-cutting/" class="task-link">
                    <div class="task task-cutting">
                        <div class="details">
                            <div class="circle-icon">
                                <i class="material-icons">content_cut</i>
                            </div>
                            <div class="text-details">Corte de nudos</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a routerLink="/user-dashboard/sizing-processes/" class="task-link">
                    <div class="task task-dimensioned">
                        <div class="details">
                            <div class="circle-icon">
                                <i class="material-icons">straighten</i>
                            </div>
                            <div class="text-details">Dimensionado</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a routerLink="/user-dashboard/sanitized/" class="task-link">
                    <div class="task task-wet">
                        <div class="details">
                            <div class="circle-icon">
                                <i class="material-icons">water_drop</i>
                            </div>
                            <div class="text-details">Sanitizado</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a routerLink="/user-dashboard/sanitizedBoxes/" class="task-link">
                    <div class="task task-drying">
                        <div class="details">
                            <div class="circle-icon">
                                <i class="material-icons">waves</i>
                            </div>
                            <div class="text-details">Secado</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a routerLink="/user-dashboard/packaging/" class="task-link">
                    <div class="task task-packaging">
                        <div class="details">
                            <div class="circle-icon">
                                <i class="material-icons">inbox</i>
                            </div>
                            <div class="text-details">Empaquetado</div>
                        </div>
                    </div>
                </a>
            </div>      
        </div>    
    </div>
</div>
    