
<!--<mat-card class="card">
    <h2 class="text-center title mt10 mb4">REGISTRAR UN NUEVO SANITIZADO</h2>
    <mat-divider class="divider"></mat-divider>
    <div class="row first-row">
        <div class="col md-8 offset-md-2">
            <form (ngSubmit) = "saveSanitating()">

                <mat-form-field appearance="fill" class="responsible-input">
                    <mat-label>Responsable</mat-label>
                    <mat-select name="responsible" [(ngModel)]= "sanitatingData.responsible.responsibleId">
                        <mat-option *ngFor= "let r of responsibles" [value]="r.responsibleId">
                            {{ r.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="straw-type-input full-width">
                    <mat-label>Tipo de bíombilla</mat-label>
                    <mat-select name="strawType" [(ngModel)]= "sanitatingData.strawType.strawTypeId">
                        <mat-option *ngFor= "let s of strawTypes" [value]="s.strawTypeId">
                            {{ s.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="date-field">
                    <mat-label class="date-label">Fecha: </mat-label>
                    <input 
                        [(ngModel)]="selectedDate"
                        type="date"
                        name="date">
                        <mat-label class="time-label">Hora: </mat-label>
                        <input 
                            [(ngModel)]="selectedHour"
                            type="time"
                            name="time">
                </div>
                <div class="row second-row">
                    <div class="col-md-6">
                        <mat-form-field appearance="fill" class="weight-field">
                            <mat-label>Peso seco inicial</mat-label>
                            <input 
                            [(ngModel)]= "sanitatingData.weightBeforeDrying"
                            type="number"
                            name="weightBeforeDrying"
                            placeholder="Ingrese peso"
                            matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="fill" class="weight-field">
                            <mat-label>Peso húmedo</mat-label>
                            <input 
                            [(ngModel)]= "sanitatingData.wetWeight"
                            type="number"
                            name="wetWeight"
                            placeholder="Ingrese peso"
                            matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="fill"class="weight-field">
                            <mat-label>Peso seco final</mat-label>
                            <input 
                            [(ngModel)]= "sanitatingData.weightAfterDrying"
                            type="number"
                            name="weightAfterDrying"
                            placeholder="Ingrese peso"
                            matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-6 ml-10">
                    <mat-form-field class="textarea-field" appearance="fill">
                        <mat-label>Observaciones: </mat-label>
                            <textarea 
                                [(ngModel)]= "sanitatingData.observations"
                                type="text"
                                name="observations"
                                placeholder="Ingrese sus observaciones"
                                matInput
                                rows="6">
                            </textarea>
                    </mat-form-field>
                </div>
                <div class="container text-center buttons">
                    <button mat-raised-button class="add-button"><mat-icon class="icon-btn">add</mat-icon>Registrar sanitizado</button>
                    <button type="reset" mat-raised-button class="clean-button"><mat-icon class="icon-btn">brush</mat-icon>Limpiar</button>
                    <button type="reset" mat-raised-button class="back-button" (click)="goBack()"><mat-icon class="icon-btn">undo</mat-icon>Volver</button>
                </div>
            </form>
        </div>
    </div>
</mat-card>
-->
