.row {
    display: flex;
    justify-content: left;
    margin-left: 30px;
    .form-group {
        margin-top: 40px;
        position: relative;
        margin-bottom: 1rem;
      }
      
      .form-group input {
        width: 97%;
        padding: 3px;
        border: none;
        border-bottom: 2px solid #ccc;
        transition: border-bottom-color 0.25s ease-in-out;
      }
      
      .form-group input:focus {
        outline: none;
        border-bottom-color: #007bff;
      }
      
      .form-group label {
        position: absolute;
        top: 0;
        left: 0;
        color: #999;
        pointer-events: none;
        transition: top 0.25s ease-in-out, font-size 0.25s ease-in-out, color 0.25s ease-in-out;
      }
      
      .form-group input:focus + label,
      .form-group input:not(:placeholder-shown) + label {
        top: -20px;
        font-size: 0.9em;
        color: #007bff;
      }
    
      .content-btn {
        display: flex;
        justify-content: center;
        .btn {
            .icon-btn {
                margin-top: 2px;
            }
            margin-top: 30px;
            background-color: #0d4380c1;
            color: white;
        }
      }
}




  