<mat-card class="card">
    <h2 class="title">TIPOS DE CORTE</h2>
    <mat-action-list class="buttons">
        <button matTooltip="Añadir tipo de corte" routerLink="/admin/add-cut-types" mat-raised-button class="add-button"><mat-icon class="icon-btn">add</mat-icon>Añadir</button>
        <button matTooltip="Vovler atras" routerLink="/admin" mat-raised-button class="back-button"><mat-icon class="icon-btn">keyboard_backspace</mat-icon>Volver</button>
    </mat-action-list>
    <mat-divider class="divider"></mat-divider>

    <div class="table">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 reception-table">
            
            <ng-container matColumnDef="cutTypeId">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let cutTypes"> {{ cutTypes.cutTypeId }}</td>
            </ng-container>
            
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre del tipo de corte </th>
                <td mat-cell *matCellDef="let cutTypes">{{ cutTypes.name }}</td>
            </ng-container>

            <ng-container matColumnDef="factor">
                <th mat-header-cell *matHeaderCellDef> Factor de cálculo </th>
                <td mat-cell *matCellDef="let cutTypes">{{ cutTypes.factor }}</td>
            </ng-container>
    
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Descripción </th>
                <td mat-cell *matCellDef="let cutTypes">{{ cutTypes.description }}</td>
            </ng-container>
    
            <ng-container matColumnDef="enabled">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let cutTypes" [ngClass]="{'text-green': cutTypes.enabled, 'text-red': !cutTypes.enabled}">{{ cutTypes.enabled ? "Activo" : "Bloqueado" }}</td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row 
                (click)="navigateToUpdateCutType(row)"
                [class.demo-row-is-clicked]="clickedRows.has(row)"
                [class.hovered-row]="hoveredRows.has(row)"
                (mousenter)="onRowMouseEnter(row)"
                (mouseleave)="onRowMouseLeave(row)"
                *matRowDef="let row; columns: columns;"
                matTooltip="Editar tipo de corte"></tr>
            </table>
        
            <mat-paginator [pageSizeOptions]="[12]"
                        showFirstLastButtons
                        aria-label="Select page of cut types">
            </mat-paginator>
        </div>
    </div>

</mat-card>